<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HPAPrototype.My.MySettings.DB_ProyectoFInal2021ConnectionString"
            connectionString="Data Source=mytestdbbd1.database.windows.net;Initial Catalog=DB_ProyectoFInal2021;Persist Security Info=True;User ID=raiz;Password=BaseDeDatosSQL07042021"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>